/* extra small devices(protrait phones less then 576px ) */
@media screen and (max-width: 575.98px) {
.menu{
	text-align: center
}
.banner-content {
	margin-top: 0;
}
.banner-content h1 {
	font-size: 28px;
}
.t-center{
	text-align: center;
}
.m-bottom{
	margin-bottom: 15px;
}
.m-top{
	margin-top: 15px
}
.social ul li a i{
	font-size: 25px;
}
}
/* small device (landscape phones 576px and up  */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
.menu{
	text-align: right;
}
.banner-content {
	margin-top: 0;
}
}
/* medium device  (tablets 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.banner-content {
	margin-top: 0;
}
.menu{
	text-align: right;
}
}
/* large device (large desktop 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	
}
/* extra large device (large desktop 1200px and up) */
@media screen and (min-width: 1200px) {
	
}